{% extends "admin_panel/admin_base.html" %}

{% block title %}Sotuvlar | Admin Panel{% endblock %}
{% block page_title %}Sotuvlar{% endblock %}

{% block content %}
<div class="card">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Vaqt</th>
                    <th>Summa</th>
                    <th>Xodim</th>
                    <th>Amallar</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                <tr>
                    <td style="font-weight: 600;">#{{ sale.id }}</td>
                    <td style="color: var(--text-muted);">{{ sale.yaratilgan_vaqt|date:"d.m.Y H:i" }}</td>
                    <td style="font-weight: 700;">{{ sale.jami_summa }} so'm</td>
                    <td>{{ sale.sotuvchi.username }}</td>
                    <td>
                        <a href="{% url 'sotuv_detail' sale.id %}"
                            style="color: var(--primary); text-decoration: none; font-weight: 600;">Batafsil</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" style="text-align: center; padding: 40px; color: var(--text-muted);">Sotuvlar mavjud
                        emas</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}